@tailwind base;
@tailwind components;
@tailwind utilities;

/*RAY7A TSA9SINI 3LAH EL IMMAGE HADIK MDICALYA CHWYA RA7 N9LK PSQ ANTM DAYRIN W7D EL 3AFSA TA3 KI TOUCHI AYYY LINK YTBADEL EL STYLE TA3EH SO SYY TN7YHA*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Orbitron:wght@500;700&display=swap');


.theHome-wrapper{
  background: url(./asserts/Bg.png);
  background-repeat:no-repeat;
  height: 100vh;
  width: 100% ;
  background-size: 100% 95%;
  background-color: rgb(103, 36, 109);
  padding: 35px;
}
.theDivHome{
  height: 100vh;
  width: 100% ;
  background-color: rgb(103, 36, 109);
}

.color-logo {
  letter-spacing: -0.04em;
  text-transform: capitalize;
  background: linear-gradient(89.97deg, #42E570 1.84%, #257BE0 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0rem 0.5rem;
  padding-left: 1.9rem;
}

.link:hover {
  border-radius: 8px;
  border: 1.5px rgb(32, 134, 32) solid;
  padding: 0.25rem 0.5rem;
}

/* for link navbar  'Home Market ...'*/
a {
  font-size: 20px;
  margin: 2px 2rem;
  padding: 0.25rem 0.5rem;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
}

a:focus,
a:active {
  border: 2px rgba(66, 229, 112, 1) solid;
  margin: 2px 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}

/* this div for a card global */
.countainer-of-home{
  background: radial-gradient(ellipse  at  bottom , rgba(99, 76, 126, 1),#0F0B20);
  padding: 1rem 2rem;
  padding-bottom: 3.5rem;
  margin: 3px 5px;
  color: white;
  border-radius: 20px;
  padding-left: 8rem;
  box-shadow: 30px 28px 23px rgba(0, 0, 0, 0.5);
}
.theScranHome{
  background-color:#0F0B;
}

.title {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 137.4%;
  /* or 82px */
  text-transform: capitalize;
  color: #FFFFFF;
}

.words {
  color: rgba(66, 229, 112, 1);
}

.btns {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
}


.description {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
  max-width: 600px;
  max-height: 250px;
}
.description2 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  color: white;
}

.option {
  width: 63px;
  height: 63px;
  background: linear-gradient(138.84deg, rgba(255, 255, 255, 0.134) -6.39%, rgba(255, 255, 255, 0.042) 112.17%);
  opacity: 0.3;
  border: 1px solid #42E570;
  backdrop-filter: blur(5px);
  border-radius: 100%;
}

.btn-search {
  background: linear-gradient(142.41deg, #257BE0 -12.51%, #42E570 136.14%);
  border-radius: 6px;
  padding: 1rem 3rem;
}
.hii{
  width: 40rem;
  height: 21.9rem;
}
.IMG {
  width: 22rem;
  height: 22rem;
  margin-right: 22rem;
  margin-top: 0rem;
}